@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

:root{
    --base-green: #6D9B5E;
    --dark-green: #77AA67;
    --hover-green: #e6ffde;
    --scroll-green: #E4EFE7;

    --chat-bot-color:#386642;
    --chat-user-color:#ffffff;

    --submit-btn-color:#BFD8B7;
    --border-gray:rgb(166, 166, 166);
}

.chatbot{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 80px;
    bottom: 50px;
    align-items: flex-end;
    align-content: flex-end;
}
.chat-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-end;
    align-content: flex-end;
    position: relative;
    top: 20px;
}

.chat-container .chat-header{
    background-color: var(--base-green);
    height: 8%;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.chat-container .chat-header #header-robot-icon{
    width: 30px;
    padding: 3px;
}

.qna_list{
    background-color: #FDFAF6;
    height: auto;
    width: 270px;
    border: 1px solid var(--border-gray);
    cursor: pointer;
    position: relative;
    bottom: 30px;
}
.qna_list ul > li{
    padding: 10px;
    color: black;
    font-size: 15px;
    border-top: 1px solid var(--border-gray);
    font-family: 'Noto Sans KR', sans-serif;
}
.qna_list ul > li:hover{
    background-color:var(--base-green);
    color: white;
}
#robot-icon{
    width: 100px;
    cursor: pointer;
}

.chat_screen{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: rgb(242, 242, 242);
    width: 380px;
    /* border: 1px solid black; */
    border-radius: 20px;
    border-bottom: 1px solid rgb(146, 146, 146);
    overflow: hidden;
}

.chat_screen .chat-text{
    height: 90%;
    padding: 10px;
    overflow-y: scroll;
}

.chat-text::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.chat-text::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--dark-green); /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.chat-text::-webkit-scrollbar-track {
    background: var(--scroll-green);  /*스크롤바 뒷 배경 색상*/
}

.chat_screen .input-row{
    background-color: rgb(255, 255, 255);
    height: 8%;
    display: flex;
    width: 100%;
    box-shadow:500px 500px 500px;
}
.chat_screen .chat-text .content{
    width: 100%;
}

.chat_screen .chat-text .content .chat-li{
    resize: both;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 250px;
    text-align: left;
    border: 1px solid rgb(126, 126, 126);
    font-family: 'Noto Sans KR', sans-serif;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.chat_screen .chat-text .left .chat-li{
    background-color: var(--chat-bot-color);
    color: white;
}
.chat_screen .chat-text .right .chat-li{
    background-color: var(--chat-user-color);
    color: rgb(55, 55, 55);
}

.chat_screen .input-row #input-ask{
    border: 0px solid;
    margin-left: 20px;
    width: 90%;
    font-size: 15px;
}
.chat_screen .input-row .submit{
    background-color: var(--submit-btn-color);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.chat_screen .input-row #chat-submit-icon{
    width: 25px;
    cursor: pointer;
}