

.div-mypage{
  text-align: center;
}
/* contact */

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}


/* 버튼 */
.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1a1e21;
  border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}


/*로그인 버튼*/
.login-btn{
  width: 300px;
  height: 50px;
  text-align: center;
}

/*mypage icon*/
.btn-mypage{
  text-align: center;
}

/*mypage css*/
.mypage-txt{
  margin-top: 110px;
  font-size: 40px;
  color: #075427;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 사용자 정보 전체 박스 */
.info-container{
  margin-top: 10px;
  height: 316px;
  /* border: 1px solid salmon; */
  /* border-bottom: 1px solid #c3c3c3; */
}

/* 사용자 캐릭터, 이름 상자 */
.profile-container{
  height: 256px;
  left: 0%;
  margin-top: 30px;
  display: inline-block;
  border-right: 1px solid #c3c3c3;
}
.profile-img{
  /* border: 1px solid burlywood; */
}
.profile-name{
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  border: 1px solid #a1a1a1;
}

/* 사용자 현황 정도 */
.progress-container{
  height: 256px;
  margin-top: 30px;
  margin-left: 10px;
  display: inline-block;
  position: absolute;
  /* border: 1px solid violet; */
}
.todo-date{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
#todo-date{
  font-size: 40px;
  color: #075427;
}
.dash{
  width: 0.5px;
  height: 15px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  border-left:2px solid #888888;
}
.date-label{
  display: inline-block;
  font-size: medium;
}
.start-date{
  display: inline-block;
  font-size: medium;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}